@import "tailwindcss";

:root {
  --background: hsl(276 10% 95%);
  --foreground: hsl(276 5% 10%);
  --primary: hsl(276 100% 50%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(276 10% 70%);
  --secondary-foreground: hsl(0 0% 0%);
  --muted: hsl(238 10% 85%);
  --muted-foreground: hsl(276 5% 40%);
  --destructive: hsl(0 50% 50%);
  --destructive-foreground: hsl(276 5% 90%);
  --border: hsl(276 20% 55%);
  --input: hsl(276 20% 50%);
  --ring: hsl(276 100% 50%);
}

.dark {
  --background: hsl(276 10% 10%);
  --foreground: hsl(276 5% 90%);
  --primary: hsl(276 100% 50%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(276 10% 20%);
  --secondary-foreground: hsl(0 0% 100%);
  --muted: hsl(238 10% 25%);
  --muted-foreground: hsl(276 5% 60%);
  --destructive: hsl(0 50% 50%);
  --destructive-foreground: hsl(276 5% 90%);
  --border: hsl(276 20% 50%);
  --input: hsl(276 20% 50%);
  --ring: hsl(276 100% 50%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --font-primary: "Karla", sans-serif;
  --shadow-custom: hsla(276, 10%, 10%, 0.16) 0px 10px 36px 0px,
    hsla(276, 10%, 10%, 0.06) 0px 0px 0px 1px;
  --shadow-toast: hsla(276, 10%, 10%, 0.16) 0px 2px 4px 0px,
    hsla(276, 10%, 10%, 0.32) 0px 2px 16px 0px;
}

/* 
"users": [
  {
    "id": 1,
    "name": "John Doe",
    "email": "john.doe@example.com",
    "profilePicture": "link_to_profile_pic",
    "status": "Online"
  }
]

"chats": [
  {
    "id": 1,
    "participants": [1, 2], // user ids
    "lastMessage": {
      "senderId": 2,
      "content": "Hello!",
      "timestamp": "2025-02-06T14:30:00Z"
    },
    "unreadCount": 1
  }
]

"messages": [
  {
    "id": 1,
    "chatId": 1, // chat id
    "senderId": 1,
    "content": "Hi, how are you?",
    "timestamp": "2025-02-06T14:32:00Z",
    "status": "delivered" // could be "sent", "delivered", "read"
  }
]

"media": [
  {
    "id": 1,
    "messageId": 2,
    "url": "link_to_media",
    "type": "image", // could be "video", "audio", etc.
    "timestamp": "2025-02-06T14:35:00Z"
  }
]
*/
